/* Background Image */
body {
	background-image: url("https://github.com/ericsteinman/Giphy-HW/blob/master/assets/Images/pokemon-background.png?raw=true");
	background-size: 110%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

/* Wrapper that all divs are inside */
#page-wrapper {
    width: 960px;
	margin: 0 auto;
}

/* The div where the rendered buttons go. */
#rendered-buttons {
	margin: 30px auto 30px auto;
}

/* Div where the gifs appear */
#gifs-appear-here {
	float: left;
	width: 630px;
	margin: 30px auto 30px auto;
}

/* The actual gifs */
.item {
	float: right;
	margin: 10px;
}

/* Div where the user enters a new Pokemon */
#pokemon-panel {
	width: 250px;
	float: right;
	margin: 30px auto 30px auto;
	padding-left: 20px;
	padding-bottom: 20px;
	border-style: solid;
	border-width: 5px;
	border-radius: 15px 50px;
	border-color: #89ab77;
	background-color: #a6d6f6;
}

/* Input box where the Pokemon name is typed */
#pokemon-input {
	border-radius: 25px;
	align-self: center;
	padding: 5px;
}

/* The button to add a Pokemon */
#add-pokemon {
	font-family: 'VT323', monospace;
	margin-top: 20px;
	color: #fff;
	font-size: 20px;
	padding: 10px;
	background-color: #000;
	border-width: 5px;
	border-color: #fff;
	border-radius: 25px;
}

/* The buttons that appear with Pokemon names */
button {
	font-family: 'VT323', monospace;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 5px;
	margin-left: 5px;
	color: #fff;
	font-size: 20px;
	padding: 10px;
	background-color: #000;
	border-width: 5px;
	border-color: #fff;
	border-radius: 25px;
}

/* Headings */
h1 {
	font-family: 'Bangers', cursive;
	font-size: 80px;
	color: #ffffff;
	text-align: center;
}

h2 {
	font-family: 'VT323', monospace;
	font-size: 30px;
	color: #000;
	padding: -20px;
}

/* The ratings */
p {
	font-family: 'VT323', monospace;
}